table.header {
    margin-bottom: 10px;
}

img.logo {
    margin-right: 10px;
}

div.title {
    font-size: 35px;
    margin-bottom: 10px;
}

table.alarms {
    border: 0px;
    border-collapse: collapse;
}

td.tablecell {
    border-color: #999;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
}

td.header {
    font-weight: bold;
    background-color: #bbb;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 2px;
}

td.noborder {
    border: 0px;
}

table.changes {
    border: 0px;
}

td.changes-image {
    background: #687BA4;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

td.changes-text {
    padding: 6px;
    background: #D9DEE8;
}

body {
    background: #eeeeee
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.gwt-Table > tbody, .gwt-Image {
    display: block; /* HTML5 effects panel alignment fix, and footer removal fix for images */
}

.gwt-Image {
    display: block;
}
